.top-bar {
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    gap: 20px; /* gutter */
    background-color: white;
}

@media (max-width: 1400px) {
  .top-bar {
    grid-template-columns: repeat(8, auto);
    gap: 10px;
  }
}